.customInput {
  padding: 7px;
  border-radius: 7px;
}

.customButton {
  background-color: rgb(194, 146, 238);
  padding: 7px 14px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
}

.customDiv {
  text-align: center;
}
